[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.110.0"
uvicorn = "==0.27.1"
pydantic = "==2.6.1"
pydantic-settings = "==2.1.0"
motor = "==3.3.2"
python-jose = "==3.3.0"
passlib = "==1.7.4"
bcrypt = "==4.1.2"
python-multipart = "==0.0.9"
email-validator = "==2.1.0.post1"
httpx = "==0.26.0"
python-dotenv = "==1.0.1"

[dev-packages]

[requires]
python_version = "3.13"
